.section p{
  text-indent: 70px;
  line-height: 30px;
}

body {
  background-color: #E4F0D0;
  padding-left: 375px;
  padding-right: 375px;

  
}

#title {
  text-align: center;
}

.audioExampleFile {
  padding: 0px;
  margin: 0px;
}

.audioExample {
  display: inline-block;
  padding: 0px;
margin: 0px;
}

.caption {
 text-indent: 0;
 font-size: 10pt;
}

.figureBox {
width: 85%;
position: relative;
left: 100px;
border-style: solid;
border-width: 2px;
background-color: #F2F7EA;
box-shadow: 7px 7px;
}

.audioExample {
padding: 10px;
}

.equation {
position: relative;
left: 40%;
}

ul {
line-height: 30px;
}
